<!DOCTYPE html>
<html lang="<%= config.language ? config.language : 'en' %>">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
  <img src="https://thumbnail10.baidupcs.com/thumbnail/b6995cdbfa9cea56ae933542d85a1146?fid=3222761166-250528-829989911853051&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-jPdNYPDhJyTSEGYzXIVRzlD9ovw%3d&expires=8h&chkbd=0&chkv=0&dp-logid=2064181497296062187&dp-callid=0&time=1522425600&size=c1280_u720&quality=90&vuk=3222761166&ft=image" style="width: 300px;height: 300px; display: none;"/>
  <!-- Nav -->
  <%- partial('_partial/nav') %>

  <!-- Main Content -->
  <%- body %>

  <!-- Footer -->
  <%- partial('_partial/footer') %>

  <!-- After footer scripts -->
  <%- partial('_partial/after-footer') %>

</body>

</html>
